.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
}

.inputEmail {
    width: 15rem;
    padding: 0.3rem;
}

.error {
    text-align: center;
    color: palevioletred;
}

.inputMask {
    width: 15rem;
    padding: 0.3rem;
    margin-block: 1rem;
}

.btn {
    background-color: royalblue;
    border: none;
    border-radius: .5rem;
    color: white;
    padding: .7rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}